@use '../../styles/export.scss' as *;

.section {
	padding: 10.75rem 0 $space-section;

	.title {
		grid-column: 2 / span 10;
		margin-top: 15.5rem;
		padding-bottom: 7.5rem;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;

		b {
			font-weight: 600;
		}
	}

	&.home {
		.title {
			margin-top: 37.5rem;
		}
	}

	.content,
	.callout {
		grid-column: 8 / -2;
		display: flex;
		flex-direction: column;
		gap: 3rem;

		.button {
			align-self: flex-end;
		}
	}

	.callout {
		margin-top: 6rem;
		padding-top: 3rem;
		border-top: 1px solid currentColor;
	}
}
