@use '../../styles/export.scss' as *;

.section {
	padding-bottom: $space-section;

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column: 2 / -2;
		gap: 0;

		.column {
			display: flex;
			flex-direction: column;
			gap: 13rem;

			.button {
				align-self: flex-end;
			}

			&.column_right {
				padding-top: 8rem;

				.button {
					align-self: flex-start;
				}

				& .item {
					&:nth-child(odd) {
						align-self: flex-end;
					}

					&:nth-child(even) {
						align-self: flex-start;
					}
				}
			}
		}

		.head {
			display: flex;
			margin-bottom: 4.5rem;
			flex-direction: column;
			gap: 2rem;
		}
	}
}
