@use '../../styles/export.scss' as *;

.footer {
	padding: 25rem 0 4rem;

	.logo {
		@include content;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4rem;
		padding-bottom: $space-section;

		.logo_square {
			width: 16.5rem;
			height: 16.5rem;
		}

		.logo_text {
			height: 8rem;
			max-width: 100%;
		}
	}

	.row_2 {
		@include content;
		display: flex;
		justify-content: space-between;
		gap: 4rem;
		padding-bottom: $space-section;

		.introtext {
			max-width: 40.31rem;
		}

		.contact {
			display: grid;
			gap: 4rem;
			grid-template-columns: 1fr 1fr;
			justify-self: flex-end;

			.contact_col {
				display: flex;
				flex-direction: column;
			}

			.footer_link {
				text-transform: lowercase;
			}
		}
	}

	.row_3 {
		@include content;
		display: flex;
		justify-content: space-between;
		gap: 4rem;

		.copy {
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 1.4px;
			text-transform: uppercase;
		}

		.links {
			display: flex;
			gap: 1rem;
		}
	}
}
